
<div class="container">
  <br>
  <h1>Pipes</h1>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Variable</th>
      <th scope="col">Pipe</th>
      <th scope="col">Producto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> {{ nombre }} </td>
      <td> uppercase </td>
      <td> {{ nombre | uppercase }} </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td> {{ nombre }} </td>
      <td> lowercase </td>
      <td> {{ nombre | lowercase }} </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td> {{ nombre }} </td>
      <td> slice:3 </td>
      <td> {{ nombre | slice:3 }} </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td> {{ nombre }} </td>
      <td> slice:0:3 </td>
      <td> {{ nombre | slice:0:3 }} </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td> {{ arreglo }} </td>
      <td> slice:3 </td>
      <td> {{ arreglo | slice:3 }} </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td> {{ arreglo }} </td>
      <td> slice:1:5 </td>
      <td> {{ arreglo | slice:1:5 }} </td>
    </tr>
  </tbody>
</table>

<h4>Slice</h4>
<hr>
<ul>
  <li *ngFor="let item of arreglo | slice:5:20"> {{ item }} </li>
</ul>

<table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Variable</th>
    <th scope="col">Pipe</th>
    <th scope="col">Producto</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">4</th>
    <td> {{ PI }} </td>
    <td> number:'1.0-2' </td>
    <td> {{ PI | number:'1.0-2' }} </td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td> {{ a }} </td>
    <td> percent:'2.2-2' </td>
    <td> {{ a | percent:'2.2-2' }} </td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td> {{ a }} </td>
    <td> percent:'2.2-2' </td>
    <td> {{ a | percent:'2.2-2' }} </td>
  </tr>
  <tr>
    <th scope="row">6</th>
    <td> {{ costoVenta }} </td>
    <td> currency </td>
    <td> {{ costoVenta | currency }} </td>
  </tr>
  <tr>
    <th scope="row">6</th>
    <td> {{ costoVenta }} </td>
    <td> currency:'MXN' </td>
    <td> {{ costoVenta | currency:'MXN ':true:'4.0-0' }} </td>
  </tr>
</tbody>
</table>

<h4>JSON</h4>
<hr>
<pre>
{{ figuraAnime | json }}
<br>
{{ figuraAnime.nombre | json }} precio: {{ figuraAnime.precio | json }}
</pre>


<table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Variable</th>
    <th scope="col">Pipe</th>
    <th scope="col">Producto</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">7</th>
    <td> {{ valorDePromesa }} </td>
    <td> async </td>
    <td> {{ valorDePromesa | async }} </td>
  </tr>
  <tr>
    <th scope="row">8</th>
    <td> {{ fecha }} </td>
    <td> date </td>
    <td> {{ fecha | date }} </td>
  </tr>
  <tr>
    <th scope="row">8</th>
    <td> {{ fecha }} </td>
    <td> date:'MMM - dd' </td>
    <td> {{ fecha | date:'MMMM - dd - yy' }} </td>
  </tr>
  <tr>
    <th scope="row">9</th>
    <td> {{ nombre2 }} </td>
    <td> capitalizado </td>
    <td> {{ nombre2 | capitalizado }} </td>
  </tr>

  <tr>
    <th scope="row">9</th>
    <td> {{ nombre2 }} </td>
    <td> capitalizado </td>
    <td> {{ nombre2 | capitalizado:false }} </td>
  </tr>

</tbody>
</table>

<h4>Youtube <small>video</small>  </h4>
<hr>
<iframe width="560" height="315" [src]="  video | domseguro:'https://www.youtube.com/embed/' " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr>

<h4>Tarea <small>Hacer un pipe que convierta una variable a asteriscos, como una contraseña y un boton que active y desactive la visibilidad de la variable</small> </h4>
<hr>

<table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Variable</th>
    <th scope="col">Pipe</th>
    <th scope="col">Producto</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">TAREA</th>
    <td> {{ nombre2 }} </td>
    <td> password:{{ activar }}
        <br>
        <button
        (click)="activar = !activar"
        type="button"
        class="btn btn-outline-primary">
        Activar/Desactivar
      </button>
     </td>
    <td> {{ nombre2 | password:activar }} </td>
  </tr>
</tbody>
</table>

<br>
</div>
